---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Commande">
  <!-- carousel section -->
  <div
    class="jumbotron jumbotron-fluid p-0 m-0 p-20px carousel-image bg-skyblue overflow-hidden d-flex position-relative"
    style={`min-height: 150px;`}
  >
    <div class="container position-relative">
      <div
        class="h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="w-auto px-5 py-3">Commande</h1>
      </div>
    </div>
  </div>
  <!-- end of carousel section -->

  <!-- main content -->
  <div class="container">
    <!-- breadcrumb menu -->
    <nav aria-label="breadcrumb p-1 ">
      <ol class="breadcrumb mb-0 bg-white pt-4 pb-4 border-bottom-grey">
        <li class="breadcrumb-item color-grey" aria-current="page">
          <a class="color-grey" href="/">Home</a>
        </li>
        <li class="breadcrumb-item color-grey" aria-current="page">
          <a class="color-grey" href="/cart/">Panier</a>
        </li>
        <li class="breadcrumb-item color-grey" aria-current="page">
          <a class="color-grey" href="#">Commande</a>
        </li>
      </ol>
    </nav>
    <!-- end of breadcrumb menu -->

    <!-- product list  -->
    <form
      action="/confirmation"
      method="POST"
      class="row pt-lg-5 pb-5 panier__product-list"
    >
      <div class="col-lg-8 pr-lg-2">
        <div>
          <h1 class="fs-16 mb-3 color-black">Informations de facturation</h1>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="color-light-black" for="prenome">Prenom</label>
              <input type="text" class="form-control rounded-0" id="prenome" />
            </div>
            <div class="form-group col-md-6">
              <label class="color-light-black" for="nom">Nom</label>
              <input type="text" class="form-control rounded-0" id="nom" />
            </div>
          </div>
          <div class="form-group">
            <label class="color-light-black" for="prenome2">Prenom</label>
            <input type="text" class="form-control rounded-0" id="prenome2" />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="color-light-black" for="Commune">Commune</label>
              <input type="text" class="form-control rounded-0" id="Commune" />
            </div>
            <div class="form-group col-md-6">
              <label class="color-light-black" for="wilaya">Wilaya</label>
              <div class="form-control d-block rounded-0">
                <select
                  id="wilaya"
                  class="no-border bg-white d-block width-100"
                >
                  <option selected>Choix 1</option>
                  <option>Choix 2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="color-light-black" for="Mobile">Mobile</label>
              <input type="tel" class="form-control rounded-0" id="Mobile" />
            </div>
            <div class="form-group col-md-6">
              <label class="color-light-black" for="Fix">Fix</label>
              <input type="tel" class="form-control rounded-0" id="Fix" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="color-light-black" for="email">Email</label>
              <input type="email" class="form-control rounded-0" id="email" />
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" />
              <label class="form-check-label" for="gridCheck">
                Enregister mes informations
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 pl-lg-2">
        <div class="card bg-grey p-3 rounded-0 overflow-hidden mt-2">
          <div class="card-item pt-3 pb-3 align-middle border-bottom-grey">
            <div class="p-1 mr-2">Total</div>
            <div
              class="card__highlight bg-white color-green p-1 pl-3 pr-3 rounded-0 bg-grey fs-20 font-weight-bold"
            >
              150 000,00<sup>DZD</sup>
            </div>
            <div class="card-item pt-3 pb-3 align-middle border-bottom-grey">
              <div class="p-1 mr-2">TVA 19%</div>
            </div>
            <div class="d-flex card-item pt-3 pb-3 align-middle">
              <div class="p-1 mr-2">Livraison</div>
              <div class="card__highlight p-1 pl-3 pr-3 rounded-0 bg-grey">
                600<sup class="fs-12">DZD</sup>
              </div>
            </div>

            <div class="div pt-3 pb-3">
              <button
                class="btn bg-green color-white btn-block no-border rounded-0 pt-1 pb-1"
                >Button</button
              >
            </div>
          </div>
        </div>
      </div>
      <!-- end of product list  -->

      <div class="condition-block bg-grey mb-5 p-3">
        <h3 class="display-5 color-black no-underline pr-3">
          Condition general
        </h3>
        <p class="color-light-black pt-4">
          Idque suavitate at vix. Est no soleat aliquip temporibus. Id erat
          accusamus principes vis. Et nec latine meliore antiopam, ne sed
          minimum epicurei accommodare. Vero molestie lobortis mei cu, nam movet
          saperet tacimates te.
        </p>
      </div>
    </form>
  </div>
</Layout>
