---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Commande">
  <!-- carousel section -->
  <div
    class="jumbotron jumbotron-fluid p-0 m-0 p-20px carousel-image bg-skyblue overflow-hidden d-flex position-relative"
    style={`min-height: 150px;`}
  >
    <div class="container position-relative">
      <div
        class="h-100 d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="w-auto px-5 py-3">Commande</h1>
      </div>
    </div>
  </div>
  <!-- end of carousel section -->

  <!-- main content -->
  <div class="container">
    <!-- breadcrumb menu -->
    <nav aria-label="breadcrumb p-1 ">
      <ol class="breadcrumb mb-0 bg-white pt-4 pb-4 border-bottom-grey">
        <li class="breadcrumb-item color-grey" aria-current="page">
          <a class="color-grey" href="/">Home</a>
        </li>
        <li class="breadcrumb-item color-grey" aria-current="page">
          <a class="color-grey" href="/cart/">Panier</a>
        </li>
        <li class="breadcrumb-item color-grey" aria-current="page">
          <a class="color-grey" href="#">Commande</a>
        </li>
      </ol>
    </nav>
    <!-- end of breadcrumb menu -->

    <!-- product list  -->
    <form
      action="/confirmation"
      method="POST"
      class="row pt-lg-5 pb-5 panier__product-list"
    >
      <div class="col-lg-8 pr-lg-2">
        <div>
          <h1 class="fs-16 mb-3 color-black">Informations de facturation</h1>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="color-light-black" for="prenome">Prénom*</label>
              <input
                name="billing[first_name]"
                type="text"
                class="form-control rounded-0"
                id="prenome"
              />
            </div>
            <div class="form-group col-md-6">
              <label class="color-light-black" for="nom">Nom de famille*</label>
              <input
                name="billing[last_name]"
                type="text"
                class="form-control rounded-0"
                id="nom"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="color-light-black" for="phone"
                >Numéro de téléphone*</label
              >
              <input
                name="billing[phone]"
                type="tel"
                class="form-control rounded-0"
                id="phone"
              />
            </div>
            <div class="form-group col-md-6">
              <label class="color-light-black" for="email">Email</label>
              <input
                name="billing[email]"
                type="email"
                class="form-control rounded-0"
                id="email"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="color-light-black" for="address">Adresse*</label>
              <input
                name="billing[address_1]"
                type="text"
                class="form-control rounded-0"
                id="address"
              />
            </div>
            <div class="form-group col-lg-6">
              <label for="state" class="form-label text-sm"> Wilaya*</label>
              <select
                name="billing[state]"
                id="state"
                class="form-control rounded-0 js-shipping__location"
              >
                <option value="" disabled="" selected>Wilaya</option>
              </select>
            </div>
          </div>

          <div class="div pt-3 pb-3">
            <button
              class="btn bg-green color-white no-border rounded-0 pt-2 pb-2"
            >
              Passer la commande
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-4 pl-lg-2">
        <div class="card bg-grey p-3 rounded-0 overflow-hidden mt-2">
          <div class="card-item pt-3 pb-3 align-middle border-bottom-grey">
            <div class="d-flex justify-content-between">
              <div class="p-1 mr-2">Sous total</div>
              <div class="p-1 pl-3 pr-3 rounded-0">
                <span class="js-line-items-subtotal">0</span>
                <sup>DZD</sup>
              </div>
            </div>
            <div
              class="d-flex card-item pt-3 pb-3 align-middle justify-content-between"
            >
              <div class="p-1 mr-2">
                <div class="mb-3">Livraison</div>
                <div class="d-flex flex-column mb-3">
                  <label
                    for="door"
                    class="d-flex align-items-center form-label text-sm mb-1"
                    ><input
                      type="radio"
                      name="shipping-mode"
                      id="door"
                      class="ml-0 mr-2"
                      value="door"
                      checked=""
                    />
                    <span>À domicile</span>
                  </label>
                  <label
                    for="stop-desk"
                    class="d-flex align-items-center form-label text-sm mb-0"
                  >
                    <input
                      type="radio"
                      name="shipping-mode"
                      id="stop-desk"
                      class="ml-0 mr-2"
                      value="stop-desk"
                    />
                    <span>Stop desk</span>
                  </label>
                </div>
              </div>
              <div
                class="card__highlight p-1 pl-3 pr-3 rounded-02 bg-grey text-right"
              >
                <span class="js-shipping__total">0</span>
                <sup class="fs-12">DZD</sup>
              </div>
            </div>
            <div
              class="card__highlight bg-white color-green p-1 pl-3 pr-3 rounded-0 bg-grey fs-20 font-weight-bold d-flex justify-content-between"
            >
              <div class="p-1 mr-2">Total</div>
              <div>
                <span class="js-line-items-total">0</span>
                <sup>DZD</sup>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script>
    import { computeOrderTotal } from "../../helpers/cart";
    import CartStorage from "../../helpers/storage";
    import { fetchAndRenderShippingLocation } from "../../helpers/ui/cart";

    const $shippingLocation = document.querySelector(".js-shipping__location");
    await fetchAndRenderShippingLocation($shippingLocation);
    // show shipping total
    const cart = new CartStorage();
    const [shippingLines] = await cart.getShippingLines();
    const $shippingTotal = document.querySelector(".js-shipping__total");
    $shippingTotal.textContent = `${shippingLines?.total || 0}`;
    const $total = document.querySelector(".js-line-items-total");
    const total = await computeOrderTotal();
    $total.textContent = `${total}`;
    const $subtotal = document.querySelector(".js-line-items-subtotal");
    const [shippingLine] = await cart.getShippingLines();
    $subtotal.textContent = `${total - parseInt(shippingLine?.total || "0")}`;
  </script>
</Layout>
