---
export interface Props {
  name: string;
  value: string | number;
  label: string | number;
}

const { label, name, value } = Astro.props;
---

<label>
  <input
    type={"radio"}
    name={name}
    value={value}
    class={"custom__radio-input d-none"}
  />
  <span class={"custom__radio-text py-2 px-3"}>
    {label}
  </span>
</label>
<style>
  .custom__radio-text {
    border: 1px solid var(--main-color);
    background-color: var(--white);
    cursor: pointer;
  }

  .custom__radio-input:checked + .custom__radio-text,
  .custom__radio-text:hover {
    background-color: var(--main-color);
    color: var(--white);
  }
</style>
