---
import HeroImage from "../../assets/images/home-carousel.png";
---
<div
  class="owl-carousel owl-theme owl-loaded overflow-hidden height-400px p-20px"
>
  <div class="owl-stage-outer height-100 pr-0 pr-md-3 pl-0 pl-md-3">
    <div class="owl-stage height-100">
      <!-- carousel item -->
      <div class="owl-item height-100">
        <div
          class="carousel-item height-100 d-flex flex-column flex-sm-row align-items-center align-itemsl-xl-start"
        >
          <div class="image__block flex-1">
            <img src={HeroImage} class="img-fluid" alt="product title" />
          </div>
          <div class="flex-1 row">
            <div class="col-sm-12 col-xl-6 offset-xl-1 pt-2">
              <div class="pl-2">
                <h3 class="carousel__subtitle mb-0 mb-md-2 color-black-2 fs-24">
                  Display place holder
                </h3>
                <h1 class="carousel__title mb-0 mb-md-2 mb-lg-4 color-black-2">
                  Apple Ipad pro
                </h1>
                <div
                  class="mb-2 mb-md-4 pricing-container d-flex flex-column mb-3"
                >
                  <span class="color-black-2">
                    <sup>DA</sup>150 000, 00
                  </span>
                  <span class="color-darkgrey fs-12">
                    <del><sup>DA</sup>150 000, 00</del>
                  </span>
                </div>
                <a
                  href="/"
                  class="carousel__link text-center d-inline-block btn-link height-48px border-green radius-2 p-1 pl-5 pr-5 color-white bg-green no-underline custom-btn"
                  >Button</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of carousel item -->

      <div class="owl-item height-100">
        <div
          class="carousel-item height-100 d-flex flex-column flex-sm-row align-items-center align-itemsl-xl-start"
        >
          <div class="image__block flex-1">
            <img src={HeroImage} class="img-fluid" alt="product title" />
          </div>
          <div class="flex-1 row">
            <div class="col-sm-12 col-xl-6 offset-xl-1 pt-2">
              <div class="pl-2">
                <h3 class="carousel__subtitle mb-0 mb-md-2 color-black-2 fs-24">
                  Display place holder
                </h3>
                <h1 class="carousel__title mb-0 mb-md-2 mb-lg-4 color-black-2">
                  Apple Ipad pro
                </h1>
                <div
                  class="mb-2 mb-md-4 pricing-container d-flex flex-column mb-3"
                >
                  <span class="color-black-2">
                    <sup>DA</sup>150 000, 00
                  </span>
                  <span class="color-darkgrey fs-12">
                    <del><sup>DA</sup>150 000, 00</del>
                  </span>
                </div>
                <a
                  href="/"
                  class="carousel__link text-center d-inline-block btn-link height-48px border-green radius-2 p-1 pl-5 pr-5 color-white bg-green no-underline custom-btn"
                  >Button</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="owl-item height-100">
        <div
          class="carousel-item height-100 d-flex flex-column flex-sm-row align-items-center align-itemsl-xl-start"
        >
          <div class="image__block flex-1">
            <img src={HeroImage} class="img-fluid" alt="product title" />
          </div>
          <div class="flex-1 row">
            <div class="col-sm-12 col-xl-6 offset-xl-1 pt-2">
              <div class="pl-2">
                <h3 class="carousel__subtitle mb-0 mb-md-2 color-black-2 fs-24">
                  Display place holder
                </h3>
                <h1 class="carousel__title mb-0 mb-md-2 mb-lg-4 color-black-2">
                  Apple Ipad pro
                </h1>
                <div
                  class="mb-2 mb-md-4 pricing-container d-flex flex-column mb-3"
                >
                  <span class="color-black-2">
                    <sup>DA</sup>150 000, 00
                  </span>
                  <span class="color-darkgrey fs-12">
                    <del><sup>DA</sup>150 000, 00</del>
                  </span>
                </div>
                <a
                  href="/"
                  class="carousel__link text-center d-inline-block btn-link height-48px border-green radius-2 p-1 pl-5 pr-5 color-white bg-green no-underline custom-btn"
                  >Button</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
