---
import FbImg from "../../assets/images/icons/facebook-green.svg";
import YbImg from "../../assets/images/icons/youtube-grey.svg";
import IgImg from "../../assets/images/icons/instagram-grey.svg";
import TwImg from "../../assets/images/icons/twitter-grey.svg";
---

<footer class="main-footer border-top-grey">
  <div class="container fs-14">
    <nav class="d-flex justify-content-between align-items-center pt-2 pb-2">
      <div class="left d-flex">
        <div class="mr-3">
          <a href="" class="text-uppercase color-light-black no-underline"
            >Social Media</a
          >
        </div>
        <div class="mr-2">
          <a href="" class="icon"><img src={FbImg} alt="" /></a>
        </div>
        <div class="mr-2">
          <a href="" class="icon"><img src={YbImg} alt="" /></a>
        </div>
        <div class="mr-2">
          <a href="" class="icon"><img src={IgImg} alt="" /></a>
        </div>
        <div class="mr-2">
          <a href="" class="icon"><img src={TwImg} alt="" /></a>
        </div>
      </div>
      <div class="nav-menu__center d-flex">
        <a class="nav-item nav-link color-light-black" href="#">Home</a>
        <a class="nav-item nav-link color-light-black" href="#">Shop</a>
        <a class="nav-item nav-link color-light-black" href="#">Product</a>
        <a class="nav-item nav-link color-light-black" href="#">Contact</a>
      </div>
      <div class="right d-flex align-items-center">
        <span class="color-light-black fs-12">Powred by&nbsp;</span>
        <img
          src="https://www.ghitaclothe.com/static/ce0061920b791245e16381e64ca686fb/48889/1662282780545-1cfaaab3-c10a-4e2f-9b81-228a2adec254.avif"
          alt="logo"
          height={40}
        />
      </div>
    </nav>
  </div>
</footer>
